MeilleuresScoresGapVerticale:4
MeilleuresScoresGapHorizontale:1
BallStuckRepititionTimes:10
PartieNbBallesInitiale:10
InfoCouleurBordure:2
MenuCouleur:3
MenuOptionsGap:3
SelecteurCouleur:4
MessageCouleur:3
MessagesGap:4
TerrainX:0
TerrainY:0
TerrainLongeur:60
TerrainHauteur:30
TerrainCouleurBordure:2
TerrainBriqueLignes:3
TerrainBriqueColonnes:5
BriqueRectangulaireLongeur:5
BriqueRectangulaireHauteur:1
BriqueRectangulaireCouleur:6
BriqueRectangulaireResistence:3
BriqueTriangulaireLongeur:3
BriqueTriangulaireHauteur:1
BriqueTriangulaireCouleur:6
BriqueTriangulaireResistence:3
BalleXInitialeRelative:0.5
BalleYInitialeRelative:-1
BalleCouleur:0
BalleDirectionInitialeCoefficient:0.25
BalleVitesse:0.2
RaquetteXInitialeRelative:0.5
RaquetteYInitialeRelative:0.8
RaquetteLongeur:7
RaquetteHauteur:1
RaquetteCouleur:6
